
body{
    box-sizing: border-box;
}
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #000;
    border-bottom: 10px solid #f1e504;
    padding: 5px 20px;

}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

h3 {
    color: #fff;
    font-size: 20px;
    font-family: 'Fira code',sans-serif;
}

nav{
    text-align: right;
}

#main-ul{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.menu__link{
    color: #fff;
    font-size: 20px;
    font-family: 'Fira code',sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 25px;
    transition: 300ms ease-out;
    margin-bottom: 20px;
    margin-top: 20px;
}

.menu__link:hover {
    color: #f1e504;
    transition: 300ms ease-in;
}

.c-dropdown__submenu{
    position: absolute;
    display: none;
    background-color: #000;
}

.c-dropdown__submenu a{
    display: block;
    text-align: left;

}

.menu__item:hover .c-dropdown__submenu{
    display: block;
}

